# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Generated
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
